:root {
    font-size: 16px;
    --body-color: rgb(229, 233, 236);
    --text-color: #282c34
}

body {
    /* margin: 0; */
    background-color: var(--body-color);
}

@media (prefers-reduced-motion: no-preference) {}

.App-header {
    text-align: center;
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header h1 {
    margin: .2rem 0;
}

nav {
    background-color: rgb(109, 163, 218);
    width: 100%;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

nav li {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li a {
    padding: .2rem 0;
    font-size: .8rem;
    width: 10rem;
    min-height: 1rem;
    background-color: var(--body-color);
    margin: 0 .2rem;
    border-radius: .4rem .4rem 0 0;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
}

.active {
    background-color: #fff;
}

main {
    background-color: #fff;
    min-height: 82vh;
    max-width: 70ch;
    padding: 2ch;
    margin: 2ch;
    margin: auto;
    color: var(--text-color);
}

.App-link {
    color: #61dafb;
}

.submit-form,
.submit-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form>div {
    margin-top: .5rem;
}

.align-svg {
    display: flex;
    align-items: center;
}

.plus {
    transition: all .3s ease-in-out;
}

.plus:hover {
    filter: brightness(1.3);
}

.plus:focus {
    outline: none;
}

.cross {
    transform: rotate(135deg);
    transform-origin: 50% 50%;
}
