:root {
    font-size: 16px;
    --animation: all .3s ease-in-out;
    --body-color: #e5e9ec;
    --text-color: #282c34;
    --border: 1px solid #cecece;
    --radius: 1ch;
}

body {
    background-color: var(--body-color);
}

@media (prefers-reduced-motion: no-preference) {}

.App-header {
    text-align: center;
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header h1 {
    margin: .2rem 0;
}

nav {
    background-color: #6da3da;
    width: 100%;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    gap: 1rem;
}

nav li {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li a {
    padding: .2rem 0;
    font-size: .8rem;
    width: 10rem;
    min-height: 1rem;
    background-color: var(--body-color);
    border-radius: .4rem .4rem 0 0;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--animation);
}

.active {
    background-color: #fff;
}

main {
    background-color: #fff;
    min-height: 82vh;
    min-width: 70ch;
    width: fit-content;
    padding: 2ch;
    margin: 2ch;
    margin: auto;
    color: var(--text-color);
}

.information-box {
    border: var(--border);
    border-radius: var(--radius);
    background-color: #f3e283;
    padding: 1rem;
    margin-bottom: 1rem;
}

.App-link {
    color: #61dafb;
}

.submit-btn {
    text-decoration: none;
    background-color: #287b86;
    color: #fff;
    padding: 1ch;
    border-radius: var(--radius);
    margin-inline: 1ch;
}

.submit-btn:hover {
    filter: brightness(1.2);
}

.submit-btn:active {
    filter: brightness(.8);
}

.entry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    width: 40rem;
    padding: .5rem;
    border-radius: var(--radius);
    border: var(--border);
    font-size: 1.2rem;
    text-align: center;
}

.filter:focus {
    outline: none;
}

table {
    margin-block: 1rem;
    border-collapse: collapse;
    border: var(--border) 0;
    margin: 1rem;
}

thead tr {
    background-color: #dedede !important;
}

tr:nth-child(odd) {
    background-color: #fcfcfc;
}

tr:nth-child(even),
thead tr {
    background-color: #ececec;
    border-block-start: var(--border);
}

tr {
    margin-block-end: 10rem;
}

table thead th {
    padding-inline: 1rem;
    position: sticky;
}

th,
td {
    border-bottom: var(--border);
    padding: .5rem;
}

.event-list {
    min-width: 100%;
    margin: 0;
}

.event-link {
    cursor: pointer;
}

.event-link:hover {
    background-color: #efefef;
}

.submit-form,
.submit-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form>div {
    margin-block-start: .5rem;
}

form>div>strong {
    margin-block-end: .3rem;
}

.char-input {
    width: 30vw;
}

.form-input {
    width: 40vw;
}

.align-svg {
    display: flex;
    align-items: center;
}

.plus {
    transition: var(--animation);
}

.plus:hover {
    filter: brightness(1.3);
}

.plus:focus {
    outline: none;
}

.cross {
    transform: rotate(135deg);
    transform-origin: 50% 50%;
}

@media screen and (max-width: 576px) {
    .App-header {
        min-width: 100%;
    }

    main {
        max-width: 100%;
    }

    nav ul {
        gap: 0;
    }

    nav li a {
        width: 8rem;
    }

    .pairings {
        display: flex;
        flex-direction: column;
        margin-block-end: .5rem;
    }

    .char-input {
        width: 80vw;
    }

    .form-input {
        width: 85vw;
    }

}

/* Some trickery */
label[for="ui-sign-in-name-input"] {
    visibility: hidden !important;
}

label[for="ui-sign-in-name-input"]::before {
    content: "Username";
    visibility: visible;
}
