:root {
    font-size: 16px;
    --animation: all .3s ease-in-out;
    --body-color: #e5e9ec;
    --text-color: #282c34
}

body {
    background-color: var(--body-color);
}

@media (prefers-reduced-motion: no-preference) {}

.App-header {
    text-align: center;
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header h1 {
    margin: .2rem 0;
}

nav {
    background-color: #6da3da;
    width: 100%;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    gap: 1rem;
}

nav li {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li a {
    padding: .2rem 0;
    font-size: .8rem;
    width: 10rem;
    min-height: 1rem;
    background-color: var(--body-color);
    border-radius: .4rem .4rem 0 0;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--animation);
}

.active {
    background-color: #fff;
}

main {
    background-color: #fff;
    min-height: 82vh;
    min-width: 70ch;
    width: fit-content;
    padding: 2ch;
    margin: 2ch;
    margin: auto;
    color: var(--text-color);
}

.App-link {
    color: #61dafb;
}

tr,
th,
td {
    border-bottom: 1px solid #000;
}

.submit-form,
.submit-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form>div {
    margin-block-start: .5rem;
}

form>div>strong {
    margin-block-end: .3rem;
}

.char-input {
    width: 30vw;
}

.form-input {
    width: 40vw;
}

.align-svg {
    display: flex;
    align-items: center;
}

.plus {
    transition: var(--animation);
}

.plus:hover {
    filter: brightness(1.3);
}

.plus:focus {
    outline: none;
}

.cross {
    transform: rotate(135deg);
    transform-origin: 50% 50%;
}

@media screen and (max-width: 576px) {
    .App-header {
        min-width: 100%;
    }

    main {
        max-width: 100%;
    }

    nav ul {
        gap: 0;
    }

    nav li a {
        width: 8rem;
    }

    .pairings {
        display: flex;
        flex-direction: column;
        margin-block-end: .5rem;
    }

    .char-input {
        width: 80vw;
    }

    .form-input {
        width: 85vw;
    }

}
